In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('../Dataset/Indonesian_Skincare_Dataset_from_Female_Daily.csv', delimiter = ',')
df.shape

(994, 11)

In [16]:
df = df.rename(columns={'Ingredient': 'ingredient', 'Name': 'skincare_name', 'Type': 'skincare_type'})

In [17]:
df['ingredient'] = df['ingredient'].apply(lambda x: str(x).replace('[', '').replace(']', '').replace("'", '').replace('"', ''))

In [18]:
df.head()

,skincare_type,skincare_name,Brand,Rating,ingredient,Link,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sunscreen,Sun Protection SPF 30 PA+++,Emina,3.6,"Zinc Oxide, Titanium Dioxide, Octocrylene, Avo...",https://reviews.femaledaily.com/products/moist...,NaN,NaN,NaN,NaN,NaN
1,Sunscreen,Hydrasoothe Sunscreen Gel SPF 45+++,Azarine Cosmetics,4.1,"Titanium Dioxide, Zinc Oxide, Ethylhexyl Metho...",https://reviews.femaledaily.com/products/moist...,NaN,NaN,NaN,NaN,NaN
2,Sunscreen,UV Moisture Milk,Skin Aqua,4.2,"Octocrylene, Homosalate, Ethylhexyl Methoxycin...",https://reviews.femaledaily.com/products/moist...,NaN,NaN,NaN,NaN,NaN
3,Sunscreen,UV Shield Essential Sunscreen Gel SPF 35 PA +++,Wardah,3.3,"Octocrylene, Avobenzone, Homosalate, Octisalat...",https://reviews.femaledaily.com/products/moist...,NaN,NaN,NaN,NaN,NaN
4,Sunscreen,UV Aqua Rich Watery Essence SPF 50+/PA++++,Biore,4.2,"Zinc Oxide, Titanium Dioxide, Octocrylene, Hom...",https://reviews.femaledaily.com/products/moist...,NaN,NaN,NaN,NaN,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 0 to 993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   skincare_type  661 non-null    object
 1   skincare_name  661 non-null    object
 2   Brand          661 non-null    object
 3   Rating         661 non-null    float64
 4   ingredient     994 non-null    object
 5   Link           661 non-null    object
 6   Unnamed: 6     0 non-null      float64
 7   Unnamed: 7     0 non-null      float64
 8   Unnamed: 8     0 non-null      float64
 9   Unnamed: 9     0 non-null      float64
 10  Unnamed: 10    0 non-null      float64
dtypes: float64(6), object(5)
memory usage: 85.6+ KB

In [20]:
df.describe()

           Rating  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10
count  661.000000         0.0         0.0         0.0         0.0          0.0
mean     4.135250         NaN         NaN         NaN         NaN          NaN
std      0.530564         NaN         NaN         NaN         NaN          NaN
min      1.700000         NaN         NaN         NaN         NaN          NaN
25%      3.800000         NaN         NaN         NaN         NaN          NaN
50%      4.200000         NaN         NaN         NaN         NaN          NaN
75%      4.500000         NaN         NaN         NaN         NaN          NaN
max      5.000000         NaN         NaN         NaN         NaN          NaN

In [21]:
brand_list = [
    "Emina", "Azarine Cosmetics", "Skin Aqua", "Wardah", "Biore", "L'Oreal Paris", "NPURE", "NIVEA", "Acnes", "Carasun", 
    "Somethinc", "3W CLINIC", "Envygreen", "Whitelab", "Aulia", "Hanasui", "Parasol", "AVOSKIN", "Innisfree", "BASE", 
    "True to Skin", "For Skin's Sake (FSS)", "ERHA Acneact", "The Body Shop", "Implora", "Anessa", "Khalisa", "Jacquelle", 
    "Etude House", "Votre Peau", "Klairs", "Dew It", "Kiehl's", "AXIS-Y", "Rose All Day Cosmetics", "The Originote", 
    "Glow & Lovely", "Sunplay", "Ristra", "Skin1004", "Skintific", "Illuminare", "d'Alba", "NACIFIC", "Pigeon Teens", 
    "First Lab", "Facetology", "Jellys", "Make Over", "Clinelle", "BLP Beauty", "Dear Me Beauty", "KraveBeauty", 
    "Laneige", "CANMAKE", "Glad2Glow", "YOU Beauty", "SNP", "Lacoco", "Melanox", "LABORE", "PURITO", "Ingrid", 
    "Banana Boat", "NuFace", "Zamron", "Zoya Cosmetics", "Neutrogena", "Jarte Beauty", "Lunesse", "Neogen", "Scarlett", 
    "Beauty of Joseon", "Supergoop!", "Dorskin", "SOLCARE", "Sensatia Botanicals", "eBright Skin", "Mirelle", 
    "Noera by Reisha", "La Tulipe", "Studio Tropik", "the Aubree", "ElsheSkin", "Keep Cool", "Skin Game", "Nature Republic", 
    "KOSE Cosmeport", "Cetaphil", "SK-II", "Amaterasun", "Glowlabs", "Fanbo", "Neufskin", "Hedtutu", "Lucienne", 
    "Viva Cosmetics", "A-True", "Hiqween", "La Roche Posay", "Aizen Dermalogy", "Make Prem", "L'ESSENTIAL", 
    "Clean & Clear", "Cosrx", "Everwhite", "PIXY", "Safi", "JF", "Sariayu", "Kleveru Organics", "BIYU", "White Story", 
    "Nameera", "Poise", "MS Glow", "Sebamed", "Ariul", "Citra", "Glowinc Potion", "pHisohex", "The Bath Box", 
    "Some by Mi", "Langsre", "Ertos", "Harlette", "Derma 365", "Biokos", "DATGLOW SKIN", "L'Occitane", "CeraCode", 
    "Inez Cosmetics", "Ingenia", "Be Plain", "H2O+ Beauty", "ZA", "Origins", "Hada Labo", "Glow Better", "Nayou Skin", 
    "Lavine Beaut√©", "Pipiqiu", "Tatcha", "Missha", "The Aesthetics Skin", "Biossance", "Tony Moly", "EverShine", 
    "Cezanne", "BRTC", "Elation", "The Juicy Gal", "The Inkey List", "BCL", "Muji", "Yves Rocher", "H&H", "Kojie San", 
    "Raiku Beauty", "Airinderm Aesthetic"
]
brand_list = sorted(brand_list, key=len, reverse=True)

In [23]:
# Fungsi untuk mengganti brand
def replace_brand(skincare_name):
    if pd.isna(skincare_name):
        return skincare_name
    for brand in brand_list:
        if brand.lower() in str(skincare_name).lower():
            return brand
    return skincare_name

# Mengganti brand pada kolom 'skincare_name'
df['brand'] = df['skincare_name'].apply(replace_brand)

# Menampilkan lima baris pertama
print(df.head())

  skincare_type                                    skincare_name  \
0     Sunscreen                      Sun Protection SPF 30 PA+++
1     Sunscreen              Hydrasoothe Sunscreen Gel SPF 45+++
2     Sunscreen                                 UV Moisture Milk
3     Sunscreen  UV Shield Essential Sunscreen Gel SPF 35 PA +++
4     Sunscreen       UV Aqua Rich Watery Essence SPF 50+/PA++++

               Brand  Rating  \
0              Emina     3.6
1  Azarine Cosmetics     4.1
2          Skin Aqua     4.2
3             Wardah     3.3
4              Biore     4.2

                                          ingredient  \
0  Zinc Oxide, Titanium Dioxide, Octocrylene, Avo...
1  Titanium Dioxide, Zinc Oxide, Ethylhexyl Metho...
2  Octocrylene, Homosalate, Ethylhexyl Methoxycin...
3  Octocrylene, Avobenzone, Homosalate, Octisalat...
4  Zinc Oxide, Titanium Dioxide, Octocrylene, Hom...

                                                Link  Unnamed: 6  Unnamed: 7  \
0  https://reviews.femaledaily.com/products/moist...         NaN         NaN
1  https://reviews.femaledaily.com/products/moist...         NaN         NaN
2  https://reviews.femaledaily.com/products/moist...         NaN         NaN
3  https://reviews.femaledaily.com/products/moist...         NaN         NaN
4  https://reviews.femaledaily.com/products/moist...         NaN         NaN

   Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0         NaN         NaN          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         NaN         NaN          NaN
4         NaN         NaN          NaN

                                             brand
0                      Sun Protection SPF 30 PA+++
1              Hydrasoothe Sunscreen Gel SPF 45+++
2                                 UV Moisture Milk
3  UV Shield Essential Sunscreen Gel SPF 35 PA +++
4       UV Aqua Rich Watery Essence SPF 50+/PA++++

In [24]:
df.to_csv('skincare_new.csv', index=False)

In [27]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('../Dataset/Indonesian_Skincare_Dataset_from_Female_Daily.csv', delimiter=',')

# Group the DataFrame by a specific column and count occurrences
group_counts = df.groupby('Type').size()

# Iterate over the group counts
for key, count in group_counts.items():
    print(f"Group: {key}")
    print(f"Count: {count}")
    print()

Group: Facial Wash
Count: 200

Group: Moisturizer Cream
Count: 63

Group: Moisturizer Gel
Count: 199

Group: Sunscreen
Count: 199